html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(img/kbg.png);
  background-repeat: repeat;
  overflow-x: hidden;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  background: #ededed;
  padding: 10px;
}
#content {
  padding-bottom: 100px;
  /* Height of the footer element */
}
#content h2 {
  color: #830f08;
  font-family: Arial, Helvetica, sans-serif;
}
#content p {
  font-family: Arial, Helvetica, sans-serif;
}
#footer {
  background: #81aef8;
  width: 100%;
  height: 100px;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
}
#footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #830f08;
}

.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
ul.kinoko {
  list-style-image: url('img/kicon.png');
}
.inner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5%;
  padding-right: 5%;
  border-style: solid;
  border-color: #830f08;
  border-width: 5px;
  border-radius: 30px;
  margin-top: 0;
  background-color: #fff;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
  width: auto;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.title {
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.title h1 {
  color: #830f08;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}
.title h3 {
  color: #830f08;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
  text-align: center;
  line-height:30px;
  padding-top: 20px;
}

.title img {
  object-fit: none;
  object-position: 0 0;
  width: 188px;
  height: 151px;
  display: inline-block;
  max-width: 100% !important;
  max-height: auto;
}
img.dude {
  object-position: 0 0;
  content: url(img/top_sp.png);
}
img.lady {
  object-position: -184px 0;
  content: url(img/top_sp.png);
}
.faq {
  clear: both;
}
.icon img {
  object-fit: none;
  object-position: 0 0;
  width: 76px;
  height: 76px;
}
img.ichi {
  object-position: 0 0;
}
h2.countstep {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
